{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <h3>Detail Page</h3>
      </div>
      <div class="col-1">
        <div class="float-right">
          <a href="{% url 'logout' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <p>タイトル：{{ obj.title }}</p>
    <p>投稿者：{{ obj.author }}</p>
    <div class="text-center">
      <img src="{{ obj.snsimage.url }}" class="img-fluid img-thumbnail">
    </div >
    <a href="{% url 'good' obj.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">いいね</a>
    <a href="#" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">既読</a>
  </div>
</div>
{% else %}
Please log in.
{% endif %}
{% endblock content %}