{% extends 'base.html' %}

{% block content %}
<body class="text-center">
    <main class="form-signin">
        <div class="container">
            <h1 class="h3 mb-3 fw-normal">Please log in</h1>
            {{ context }}
            <form method="POST">
                {% csrf_token %}
                <label for="inputUsername" class="visually-hidden">User name</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="User name" name="username" required autofocus>
                <label for="inputPassword" class="visually-hidden">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
            </form>
        </div>
    </main>
</body>
{% endblock content %}